<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IZzService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51113/ZzaService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IZzService" contract="ZzaServices.IZzService"
        name="BasicHttpBinding_IZzService" />
    </client>
  </system.serviceModel>
</configuration>

